# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Jupyter
.ipynb_checkpoints

# Logs
logs/
*.log

# Data
data/
dataset/
datasets/

# Models
models/*.pt
models/*.onnx
models/*.pth
runs/

# Kalibrasyon
*.npz

# Çıktı
output/
saved_frame_*.jpg

# OS
.DS_Store
Thumbs.db

# Temp
tmp/
temp/
*.tmp
outputs/**
*.pt
*.pth
